# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Entornos virtuales
env/
venv/
api_env/

# Archivos de log
*.log

# Modelos y datos grandes
models/
# *.h5
# *.keras
# *.ipynb

# Archivos de caché de Python
__pycache__/

# Configuraciones de VSCode (opcional, si usas VSCode)
.vscode/

# Dependencias de Node.js (si estás usando JavaScript/Node.js)
node_modules/

# Archivos grandes de instalación
*.tar.gz
*.zip
